.landing_container {
    position: relative;
    z-index: 1;
}

.landing_main {
    /* margin-top: 80px; */
    height: 100vh;
    width: 100%;

    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../images/landingback.png');
    background-size: 100% 100%;
}

.landing__container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    width: 100%;
    height: 100%;
}

.middlebox {
    /* background-color: blue; */
    width: 50%;
    height: 50%;
}

.landingTitle {
    text-align: center;
    margin: auto;
    width: 50%;
    /* background-color: red; */
    color: #152652;
}

.landingIntro {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 1.5rem;
    color: #5D75A8;
    font-size: 0.8rem;
    font-weight: bolder;
}

.emploi {
    color: #0060F9;
}

.form_landing {
    height: 45%;
    width: 90%;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* background-color: yellow; */
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6)  ;  */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.102)  ; 
    margin: auto;
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}


.form_landing_top {
    height: 35%;
    width: 95%;
    /* background-color: #5D75A8; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form_top_one {
    width: 33%;
    height: 100%;
    /* background-color: #152652; */
    display: flex;
    flex-direction: column;
    
}

.form_top_one_label_text{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
    font-weight: bolder;
    color: #152652;
}

.form_top_one_input_text {
    /* border: 1px solid rgb(182, 182, 182); */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.102)  ; 
    border-radius: 2px;
    font-size: 0.7rem;
    width: 90%;
    padding: 0.2rem;
}
.form_top_two_label_text{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
    font-weight: bolder;
    color: #152652;
}

.form_top_two_input_text {
    /* border: 1px solid rgb(182, 182, 182); */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.102)  ; 
    border-radius: 2px;
    font-size: 0.7rem;
    width: 90%;
    padding: 0.2rem;
}
.form_top_three_label_text{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
    font-weight: bolder;
}

.form_top_three_input_text {
    /* border: 1px solid rgb(182, 182, 182); */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.102)  ; 
    border-radius: 2px;
    font-size: 0.7rem;
    width: 90%;
    padding: 0.2rem;
    color: #152652;
}

.form_top_two {
    height: 100%;
    width: 33%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
}
.form_top_three {
    width: 33%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}


.form_landing_bottom {
    height: 35%;
    width: 95%;
    /* background-color: rgb(109, 121, 132); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ii {
    color: #0060F9;
}
.searchButton {
    background-color: #0060F9;
    color: white;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-radius: 10px;
    
}

.landing_threeCards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 20;
   
   
}
    
.landing_threeCards_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    top: -30px;
    left: 0px;
    /* background-color: red; */
}

.card_one {
    height: 35vh;
    width: 20%;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(62, 72, 255, 0.102), -5px -5px 10px rgba(50, 102, 255, 0.102)  ; 
    border-radius: 15px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_two {
    height: 35vh;
    width: 20%;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(62, 72, 255, 0.102), -5px -5px 10px rgba(50, 102, 255, 0.102)  ; 
    border-radius: 15px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.card_three {
    height: 35vh;
    width: 20%;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(62, 72, 255, 0.102), -5px -5px 10px rgba(50, 102, 255, 0.102)  ; 
    border-radius: 15px;
    /* margin-right: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_one_image {
    height: 40%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.card_one_title {
    height: 10%;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 900;
    color: #152652;
}   
.card_one_text {
    height: 30%;
    font-size: 0.8rem;
    text-align: center;
    color: #89a3e6;
    padding: 0 0.6rem;
}

.boussole {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}