.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;
}

.title_container > h1 {
    color: #152652;
    font-weight: 700;
    font-size: 2rem;
}

.card_container {
    display: flex;
    height: 70%;
    justify-content: space-between;
    padding: 0 8vw;
}