.essentiel_container {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 80;
    /* background-color: aqua; */
}

.essentiel {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.essentiel_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aliceblue; */
}

.essentiel_top_title {
    color: #152652;
    font-weight: 800;
}

.ii {
    color: #0060F9;
}
.essentiel_top_text{
    text-align: center;
    width: 65%;
    color: #5D75A8;
}