
.enQqClics_container{
    /* background-color: aqua; */
    width: 80%;
    height: 70vh;
    /* margin-top: 300px; */
    display: flex;
    justify-content: end;

}
.enQqClics_h1{
    color: #152652;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
}
.enQqClics_img{
    margin-right: 18px;
    min-width: 70px;
    height: 70px;
}
.enQqClics_card_container_bleu{
    background-color: #E4EEFF;
    box-shadow: 5px 5px 5px rgb(206, 206, 206);
    width: 94%;
    padding: 13px 13px 6px 13px;
    border-radius: 15px;
    display: flex;
    margin-top: 20px;
}
.enQqClics_card_container{
    padding: 13px 13px 6px 13px;
    display: flex;
    margin-top: 20px;
    width: 94%;
    transition: 0.3s;
    /* background-color: red; */
}
.enQqClics_card_container:hover{
    background-color: #E4EEFF;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgb(206, 206, 206);
    border-radius: 15px;
}
.enQqClics_h2{
    color: #3B3BFF;
    font-size: 1.1em;
    font-weight: 2000;
}
.enQqClics_h3{
    font-size: 1.1em;
    font-weight: bold;
}
.enQqClics_p{
    font-size: 0.7em;
    color:#5D75A8;
    margin-top: 20px
}

.enQqClicssous_container {
    width: 80%;
    /* background-color: yellow; */
}