
.enQqClics_container{
    max-width: 600px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enQqClics_h1{
   font-size: 2.8rem;
    width: 100%;
    font-weight: bold;
}
.enQqClics_img{
    margin-right: 20px;
    margin-left: 20px;
    min-width: 90px;
    height: 90px;
}
.enQqClics_card_container_bleu{
    background-color: #E4EEFF;
    box-shadow: 5px 5px 5px rgb(206, 206, 206);
    width: 94%;
    padding: 20px 20px 8px 20px;
    border-radius: 15px;
    display: flex;
    margin-top: 40px;
}
.enQqClics_card_container{
    padding: 20px 20px 8px 20px;
    display: flex;
    margin-top: 40px;
    width: 94%;
    transition: 0.3s;
}
.enQqClics_card_container:hover{
    background-color: #E4EEFF;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgb(206, 206, 206);
    border-radius: 15px;
}
.enQqClics_h2{
    color: #3B3BFF;
    font-size: 2rem;
    font-weight: 2000;
}
.enQqClics_h3{
    font-size: 1.9rem;
    font-weight: bold;
}
.enQqClics_p{
    font-size: 1.3rem;
    color:#5D75A8;
    margin-top: 40px
}
