.navbar{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    /* padding: 1rem; */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 75px;
    /* max-height: 75px; */
    /* background-color: rgb(0, 0, 0); */
    background-color: transparent;
    transition: background-color 700ms ease-in-out;
    color: #ffff;
}

.navbar.activateNav{
    box-shadow: 5px 1px 30px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    transition: background-color 500ms ease-in-out;
    
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
    /* background-color: red; */
    /* height: 80%; */
    /* width: 30%; */
    margin-left: 8rem;
    /* background-color: blue; */
    /* background-color: purple */
}

.img__logo {
    /* background-color: red; */
    max-width: 50%;
    max-height: 100%;
    max-width: 150px;
   
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    max-height: 100%;
    
}

.logo__img {
    max-width: 100%;
    max-height: 100%;
}

.navbar__links {
    display: flex;
    align-self: center;
    margin-right: 2rem;
}

.navbar__link {
  padding: 0 1rem;
  font-size: 0.9rem;
 font-weight: bolder;
 
  /* color: inherit; */
  /* color: rgb(0, 0, 78); */
  color: #152652;
  /* margin-right: rem; */
  /* background: red; */
}

.navbar__link:hover {
    color: #0060F9;
}

.navbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    color: inherit;
    display: none;
    border: none;

}

/* .navbar.show-nav, .slideInDown-4.deca {
    margin-right: 0rem;
} */

.deca {
    margin-right: 4rem;
}

.decaClear {
    margin-right: 0;
}

.buttonInscrire {
    background-color: #0060F9;
    padding: 0.8rem 2.2rem;
    color: white;
    border-radius: 23px;
    margin-left: 0.3rem;
}

.buttonInscrire:hover {
    color: white;
    background-color: #022c71;
}

.navbar__link_dropdown {
    position: absolute;
    top:2rem;
    left: -1rem;
    box-shadow: 0 0 10px rgb(201, 201, 201);
    color: #152652;
    background-color: white;
    /* transition: background-color 500ms ease-in-out; */
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.containDrop {
    position: relative;
    /* background-color: red; */
}

/* .linky:hover > .navbar__link_dropdown{
    visibility: visible;
    opacity: 1;
    background-color: green;
} */



@media screen and (min-width:1300px) {
    .navbar__link {
       
        margin-right: 1.5rem;
      }
}

@media screen and (min-width:1550px) {
    .navbar__links {
        margin-right: 5rem;
    }

    .navbar__link {
        margin-right: 2rem;
      }

      .navbar__logo {
        margin-left: 8rem;
    }

   
 
}


@media screen and (min-width:1190px) {
    .navbar__link {
        align-items: center;
        
      }

      .containLogo {
          /* background-color: orange; */
          align-items: center;
          justify-content: center;
          padding-top: 1rem;
      }
}

@media screen and (max-width:1200px) {
    .navbar__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        width: 0;
        padding: 2rem;
        background-color: rgb(255, 255, 255);
        visibility: hidden;
        transition: all .8s ease-out;
    }

    .show-nav .navbar__links {
        right: 0;
        width: 100vw;
        visibility: visible;
    }

    /* Bonus */
    .navbar__item::after {
        /* content: "";
        display: block; */
        /* margin: 0 auto; */
        /* width: 3vw;
        height: 1px;
        background: #fff; */
    }

    .navbar__item:last-child::after {
        /* display: none; */
    }

    .navbar__link {
        display: block;
        padding: 1rem;
        font-size: 1rem;
      
        /* font-size: 2vw; */
    }
    .containLogo{
        /* background-color: blue; */
    }

    .navbar__burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }
    .navbar__burger:hover {
        cursor: pointer;
    }

    .burger-bar, .burger-bar::before, .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: rgb(1, 5, 88);
        transition: all .5s ease-in-out;
    }
 
    .burger-bar::before, .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .burger-bar::before{
        transform: translateY(-12px);
    }
    
    .burger-bar::after {
        transform: translateY(12px);
    }

    .show-nav .burger-bar{
        background: transparent;
        width: 0;
    }

    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }

    /* Burger button animation */
    .navbar__item {
        transform: translateY(100vh);
    }
    .show-nav .navbar__item {
        transform: translateY(0);
    }
    .show-nav .slideInDown-1 {
        transition: all 0.7s ease-out;
    }
    .show-nav .slideInDown-2 {
        transition: all 0.8s ease-out;
    }
    .show-nav .slideInDown-3 {
        transition: all 0.9s ease-out;
    }
    .show-nav .slideInDown-4 {
        transition: all 1s ease-out;
    }
    .show-nav .slideInDown-5 {
        transition: all 1.1s ease-out;
    }
    .show-nav .slideInDown-6 {
        transition: all 1.2s ease-out;
    }


}

/* dropdown */

.dropdown {
    opacity: 0;
    /* height: 0; */
    color: black;
    background-color: white;
    z-index: 20;
    transition : .2s; 
    top : 75px;
    position: absolute;
    /* width: 13%; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}
.dropdown + div {
    background-color: red;
}
.dropdown ul {
    display: flex;
    align-items: center;
}
.dropdown li {
    padding: 10px;
    color :rgb(1, 5, 88);
    font-family: 'Roboto', sans-serif;

}
.dropdown-infos {
    background-color: #005ff927;
}
.dropdown-infos p{
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px; 
    margin: 0;
 
}
.dropdown-infos p:nth-child(1) {
    color: var(--darkBlue);
    font-size: 0.9rem;
}
.dropdown-infos p:nth-child(2) {
    color: var(--darkBlue);
    font-size: 0.7rem;
}
.dropdown-infos p:nth-child(3) {
    color: var(--blue);
    font-size: 0.9rem;
}
.dropdown div:nth-child(1) {
    border-right: 1px solid rgba(128, 128, 128, 0.288);
}

.dropdown-title {
    text-transform: uppercase;
    color: #e9e9f0a2 ;
    font-weight: bold;
    font-size: 0.8rem;
}
.dropdown-text {
    font-size: 0.7rem;
}

.slideInDown-3 {
    cursor : pointer; 
}

.slideInDown-3:hover .dropdown {
    opacity: 1;
    /* max-height: 500px; */
}