
.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton {
    background-color: #0060F9;
    padding: 0.8rem 2.2rem;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.subscribeButton {
    border: none;
    padding: 0.8rem 2.2rem;
    color: white;
    border-radius: 23px;
    cursor: pointer;
    outline: none;
    min-width: 70%;
    font-weight: 500;
}

.orange {
    background-color: #F96C00;
}

.lightOrange {
    background-color: #FFB300;
}

.blue {
    background-color: #0060F9;
}

.green {
    background-color: #00CB73;
}
